@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new-note{
  background-color: #ffffb5;
}

textarea{
  border: none;
  resize: none;
  background-color: #ffffb5; 
}

textarea:focus{
  outline: none;
}

.save{
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover{
  background-color: black;
  cursor: pointer;
  color: white;
}

.note{
  background-color: #ddd4fa;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
}

.delete-icon:hover{
  color: red;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input{
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus{
  outline: none; 
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 15px;
}

.dark-mode{
  background-color: black;
}

.dark-mode h1{
  color: white;
}


input[type="checkbox"] {
  position: relative;
  width: 53px;
  height: 23px;
  -webkit-appearance: none;
  appearance: none;
  background: black;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
  content: "";
  width: 25px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: black;
}

input[type="checkbox"]:checked {
  background: white;
}
